<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
  <%- include('../partials/navbar'); %>
  <div class="container">
    <h1>Administrator Dashboard</h1>
    <div class="row">
      <div class="col-md-3">
        <a href="/adminDashboard/userCreate">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-user-plus fa-5x"></i>
              <h5 class="card-title">Add User</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="/adminDashboard/userList">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-user-edit fa-5x"></i>
              <h5 class="card-title">Edit Users</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="/dashboard/patientList">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-database fa-5x"></i>
              <h5 class="card-title">Patient Database</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="#">
          <div class="card">
            <div class="card-body">
              <i class="fas fa-clipboard-list fa-5x"></i>
              <h5 class="card-title">Audit Log</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
