<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/headfile') %>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <h1>Genetic Testing LLC</h1>  
    <%- include('loginform'); %>
 
<script>
   <%- include('../partials/scripts.ejs'); %>
</script>
  </body>
</html>