<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/headfile') %>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <h1>Bot Kills</h1>  
    <%- include('loginform'); %>
 
    <script>
      `<%- include("../partials/scripts.ejs"); %>`
    </script>
  </body>
</html>