<head>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<nav class="navbar bg-white shadow">
  <div class="container-fluid d-grid grid-template">
    <!-- First Column: Logo and Aetherborne Text -->
    <div class="d-flex align-items-center">
      <a class="navbar-brand text-uppercase" href="<% if (locals.user && locals.user.role === 'DataEntry') { %>/deRoute<% } else if (locals.user && locals.user.role === 'QualityControl') { %>/qcRoute<% } else if (locals.user && locals.user.role === 'Admin') { %>/adminRoute<% } else { %>/qcRoute/botList<% } %>">
        <img src="/images/aetherborne.jpg" alt="Aetherborne Logo" style="height: 1.5em; vertical-align: middle; margin-right: 0.5em;"> 
        Aetherborne
      </a>
    </div>
    
    <!-- Second Column: Logout Button -->
    <div class="d-flex justify-content-end align-items-center">
      <a href="/accountRoute/logout" class="btn btn-sm btn-outline-dark mx-2">Logout</a>
    </div>
  </div>
</nav>
