<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headfile') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <h1>this is dashboard page</h1>
<!--     THESE BUTTON ARE FOR TESTING PURPOSES, WILL BE MOVED TO A DIFFERENT PLACE LATER ON -->
    <h2> These buttons are for Testing Purposes</h2>
    <a href="/dashboard/patientCreate"><button>Create Patient</button></a>
    <a href="/dashboard/patientList"><button>Patient List</button></a>
    <a href="/dashboard/userList"><button>User List</button></a>

  </body>
</html>