<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headfile') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <h1>this is dashboard page</h1>
    <h2> These buttons are for Testing Purposes</h2>
    <a href="/dashboard/create"><button>Create Patient</button></a>
    <a href="/dashboard/update"><button>Update Patient</button></a>

  </body>
</html>