<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Interactive Lab Platform</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <script type="module" src="script.js"></script>
  </head>
  <body>  
  </body>
</html>
<!-- THIS FILE IS NOT BEING USED AT THE MOMENT --> -->