<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/headfile') %>
<!--     THE FOLLOWING LINE OF CODE IS FOR TESTING PURPOSES, WILL BE REMOVED LATER -->
    <%- include('./partials/navbar') %>
    <link rel="stylesheet" href="/stylesheets/login.css" />
  </head>
  <body>
    <h1>Genetic Testing LLC</h1>  
    <%- include('./partials/loginform'); %>
 
<script>
   <%- include('./partials/scripts.ejs'); %>
</script>
  </body>
</html>