body {
    background: linear-gradient(to bottom right, #9b9a9a, #191d20, #182536);

}



/* Styles for the container */
.container {
  margin-top: 50px;
  margin-bottom: 500px
}

/* Styles for the cards */
.card {
  margin-bottom: 20px;
  text-align: center;
  background: linear-gradient(to bottom right, #2b2b2b, #191d20, #353535);

}

.card-body {
  padding: 20px;
}

.card-title {
  margin-top: 10px;
  font-size: 18px;
}

/* Styles for the icons */
.fa-5x {
  font-size: 5em;
  margin-bottom: 10px;
}

/* Styles for the headings */
h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
}

@media (prefers-color-scheme: dark) {
  img {
    opacity: .75;
    transition: opacity .5s ease-in-out;
  }
  img:hover {
    opacity: 1;
  }
}