/* Global styles */
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding-bottom: 500px;
    background: linear-gradient(to bottom right, #f7f7f7, #3192d6, #182536);

}

/* Form styles */
.form-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
      background: linear-gradient(to bottom right, #f7f7f7, #3192d6, #182536);

}

h1 {
	text-align:
    }
label {
	display: block;
	margin-bottom: 10px;
	font-weight: bold;
}
.tab1 {
            tab-size: 4;
        }
  