body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #f7f7f7, #3192d6, #182536);
}

.container {
  max-width: 100%; /* Allow it to take the full width */
  margin: 0 auto; /* Centering the container */
  padding: 1rem; /* Padding for better spacing */
}

.table-responsive {
  overflow-x: auto; /* Allow horizontal scrolling */
  width: 100%; /* Ensure it fills the available width */
}

table {
  width: 100%; /* Ensure the table fills the container */
  border-collapse: collapse;
  background: #ffffff; /* Background color for the table */
  margin-bottom: 1rem; /* Margin for spacing */
}

th {
  background-color: #7d7d7d; /* Header background */
  color: #ffffff; /* Text color for contrast */
  padding: 0.75rem; /* Padding for table header */
  text-align: left; /* Align text to the left */
}

td {
  border: 1px solid #999; /* Border for table cells */
  padding: 0.5rem; /* Padding for table cells */
  font-weight: bold; /* Bold font for table cells */
}
h1 {
  text-align: center;
}