body {
    background: linear-gradient(to bottom right, #f7f7f7, #3192d6, #182536);

}
/* Equipment Container */
.equipment-container {
    position: relative; /* Allows absolute positioning of children */
    width: 300px; 
    height: 400px; 
    background-image: url('/images/equipmentSlots.png');
    background-size: cover;
}

/* Positioning each slot */
.cape-slot {
    position: absolute;
    top: 88px; /* Adjust the value as needed */
    left: 40px; /* Adjust the value as needed */
}

.left-hand-slot {
    position: absolute;
    top: 167px; /* Adjust the value as needed */
    left: 10px; /* Adjust the value as needed */
}

.hands-slot {
    position: absolute;
    top: 326px; /* Adjust the value as needed */
    left: 10px; /* Adjust the value as needed */
}

.head-slot {
    position: absolute;
    top: 10px; /* Adjust the value as needed */
    left: 127px; /* Adjust the value as needed */
}

.neck-slot {
    position: absolute;
    top: 88px; /* Adjust the value as needed */
    left: 127px; /* Adjust the value as needed */
}

.torso-slot {
    position: absolute;
    top: 167px; /* Adjust the value as needed */
    left: 127px; /* Adjust the value as needed */
}

.legs-slot {
    position: absolute;
    top: 247px; /* Adjust the value as needed */
    left: 127px; /* Adjust the value as needed */
}

.feet-slot {
    position: absolute;
    top: 327px; /* Adjust the value as needed */
    left: 127px; /* Adjust the value as needed */
}

.ammunition-slot {
    position: absolute;
    top: 88px; /* Adjust the value as needed */
    left: 212px; /* Adjust the value as needed */
}

.right-hand-slot {
    position: absolute;
    top: 167px; /* Adjust the value as needed */
    left: 235px; /* Adjust the value as needed */
}

.jewelry-slot {
    position: absolute;
    top: 326px; /* Adjust the value as needed */
    left: 235px; /* Adjust the value as needed */
}
.slot-img {
    width: 64px;
    height: 64px;
    border: 2px solid transparent;
    object-fit: contain;
}

.highlighted {
    outline: 3px solid yellow;
}

/* Specific styles based on alt attribute */
.slot-img[alt="Cape"],
.slot-img[alt="Left-Hand"],
.slot-img[alt="Head"],
.slot-img[alt="Neck"],
.slot-img[alt="Torso"],
.slot-img[alt="Legs"],
.slot-img[alt="Feet"],
.slot-img[alt="Ammunition"],
.slot-img[alt="Right-Hand"],
.slot-img[alt="Jewelry"],
.slot-img[alt="Hands"] {
  /* Make images appear white using filters or additional styles */
  /*filter: brightness(0) invert(1);  Turns the image white */
  border: 2px solid white; /* Add white border */
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 30px;
  }

.container {
    border: 2px solid white; /* Add white border */
}
.col {
    border: 2px solid white; /* Add white border */
}
.row {
    border: 2px solid white; /* Add white border */
}