/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #f7f7f7, #3192d6, #182536);
  color: #151618;
} */
body {
  background-image: url('https://preview.redd.it/zombie-pirates-are-occupied-by-95-bots-v0-lwyda47fwb6d1.jpeg?auto=webp&s=df38e85cda074bb6471b2125d29f64d6bfcfc7d8');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
}

h1 {
  text-align: center;
  font-size: 7rem;
  font-weight: bold;
  background: linear-gradient(to right, #ffdb28, #050404, #f4f8fa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  text-shadow: 2px 2px #d81709;
}



.login-form {
  width: 100%;
  max-width: 400px;
  padding: 40px;
  background: #f7f7f7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form h2 {
  margin-bottom: 20px;
  font-weight: bold;
  color: #182536;
  text-align: center;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #2d2c2c;
  font-size: 18px;
  color: #182536;
  background: transparent;
  transition: border-color 0.5s;
}

.form-group input:focus {
  outline: none;
  border-color: #3192d6;
}

.form-group label {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 18px;
  color: #999;
  pointer-events: none;
  transition: top 0.5s, font-size 0.5s;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #3192d6;
}

button[type='submit'] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #3192d6;
  font-size: 18px;
  color: #f7f7f7;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.5s;
}

button[type='submit']:hover {
  background: #2d2c2c;
}
