/* Table styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
    background: linear-gradient(to bottom right, #f7f7f7, #3192d6, #182536);

}

tbody td {
  border: 1px solid #999;
  padding: 0.5rem;
}


/* Link styles */
a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Form styles */
input[type="text"],
input[type="date"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

