<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./partials/headfile') %>
  </head>
  <body>
  <%- include('./partials/navbar') %>
  <h1>this is accounts page</h1>
<script>





</script>
  </body>
</html>