<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./partials/headfile') %>
  </head>
  <body>
  <div>To access other routes
   <p>/accounts</p>
 <p>/dashboard</p>
  </div>

  <%- include('./partials/loginform'); %>
 
<script>
</script>
  </body>
</html>