<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./partials/headfile') %>
  </head>
  <body>
  <%- include('./partials/navbar') %>
  <%- include('./partials/loginform'); %>
 

  


  
<script>





</script>
  </body>
</html>