<!DOCTYPE html>
<html lang="en">
<%- include('../partials/headfile'); %>
<link rel="stylesheet" href="/stylesheets/patientList.css" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bot Hunting Data</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #0d0c0c;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #7d7d7d;
        }
    </style>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <a href="/deDashboard/patientList" class="btn btn-primary">All Bots</a>
    <a href="/deDashboard/topWorlds" class="btn btn-primary">Top Worlds</a>
    <h1>Recently Hunted Bots</h1>
    <table>
        <thead>
            <tr>
                <th>Bot Name</th>
                <th>World</th>
                <th>Kill Date</th>
                <th>Kill Time</th>
                <th>Loot Amount</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="botTableBody">
        
        </tbody>
    </table>

    <script>
        // Function to fetch the latest bot data
        async function fetchLatestBots() {
            try {
                const response = await fetch('/qcDashboard/latest-bots');
                const bots = await response.json();

                // Update the table
                const tableBody = document.getElementById('botTableBody');
                tableBody.innerHTML = ''; // Clear the existing table rows

                bots.forEach(bot => {
                    const row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${bot.bot_name} (${bot.combat_lv})</td>
                        <td>${bot.most_recent_kill.world_number}</td>
                        <td>${new Date(bot.most_recent_kill.kill_date).toISOString().split('T')[0]}</td>
                        <td>${bot.most_recent_kill.kill_time}</td>
                        <td>${bot.most_recent_kill.loot_amount}</td>
                        <td>
                            <a href="/deDashboard/botKills?id=${bot._id}" class="btn btn-primary">Kills</a>
                        </td>
                    `;
                    tableBody.appendChild(row);
                });
            } catch (error) {
                console.error('Error fetching latest bots:', error);
            }
        }

        // Fetch the latest bots every 5 minutes
        setInterval(fetchLatestBots, 60000);

        // Initial fetch
        fetchLatestBots();
    </script>
</body>
</html>
